In [2]:
import sqlite3

db = 'sample.db'

con = sqlite3.connect(db)

csr = con.cursor()

sql = 'Create table Employee(name,email,department,position);'
csr.execute(sql)

con.commit()

con.close()

OperationalError: table Employee already exists

In [13]:
import sqlite3

# sample.db という名前のデータベースファイル
db = 'sample.db'

# データベースに接続
con = sqlite3.connect(db)

# カーソルオブジェクトを作成
csr = con.cursor()

# テーブルにデータを格納
sql = "insert into Employee(name, email, department, position) \
values('Yamada', 'yamada@abcxyz.co.jp','Sales','staff');"
csr.execute(sql)
sql = "insert into Employee(name, email, department, position) \
values('Suzuki', 'suzuki abcxyz.co.jp', 'Development', 'staff');"
csr.execute(sql)

# この時点の内容を確認
sql = "select * from Employee;"
csr.execute(sql)
print(csr.fetchall())

# テーブルからデータを消去
sql = "delete from Employee where name = 'Yamada';"
csr.execute(sql)

# この時点の内容を確認
sql = "select * from Employee;"
csr.execute(sql)
print(csr.fetchall())

# テーブルのデータを更新
sql = "update Employee set position = 'Manager' where name = 'Suzuki';"
csr.execute(sql)

# 保存
con.commit()

# 内容を読み取って表示
sql = "select * from Employee;"
csr.execute(sql)
print(csr.fetchall())

# 接続を終了
con.close()

[('Suzuki', 'suzuki abcxyz.co.jp', 'Development', 'Manager'), ('Yamada', 'yamada@abcxyz.co.jp', 'Sales', 'staff'), ('Suzuki', 'suzuki abcxyz.co.jp', 'Development', 'staff')]
[('Suzuki', 'suzuki abcxyz.co.jp', 'Development', 'Manager'), ('Suzuki', 'suzuki abcxyz.co.jp', 'Development', 'staff')]
[('Suzuki', 'suzuki abcxyz.co.jp', 'Development', 'Manager'), ('Suzuki', 'suzuki abcxyz.co.jp', 'Development', 'Manager')]

In [18]:
csr.execute('drop table data_set')
con.commit()

OperationalError: no such table: data_set

In [20]:
import sqlite3

db = 'test.db'
con = sqlite3.connect(db)
csr = con.cursor()

csr.execute('create table human(name, nickname);')

csr.execute("insert into human(name) values('Ichiro');" )
csr.execute("insert into human(name) values('Jiro');")
csr.execute("insert into human(name) values('Saburo');")

csr.execute("update human set nickname = 'Lazer' where name = 'Ichiro';")

csr.execute("select * from human;")
print(csr.fetchall())

con.commit()
con.close()

OperationalError: table human already exists

In [5]:
import sqlite3

db = 'test.db'
con = sqlite3.connect(db)
csr = con.cursor()

csr.execute("update human set nickname = 'Lazer' where name = 'Jiro';")

csr.execute("delete from human where nickname = 'Lazer';")

csr.execute("select * from human;")
print(csr.fetchall())

con.commit()
con.close()

OperationalError: database is locked